*.o
*.db
*.log*
*hart.*
fishtank_monitor/sketchbook/fish_tank_display/.build
fishtank_monitor/sketchbook/fish_tank_display/.build/*
fishtank_monitor/cfg/fishtank_monitor.cfg
fishtank_monitor/__pycache__/*
fishtank_monitor/__pycache__
