[hardware]
serial device = /dev/ttyS0

[SMTP]
host = smtphost
port = 0
user = username
password = password
use ttls = true

[email]
# zero to disable
send reports interval = 86400
# zero to disable
send warnings interval = 14400
email to address = you@domain.com
email from address = pi@domain.com

[calibration]
# zero to disable
months_between_calibrations = 3

[lights]
# how many times to issue the x10 command per scheduled action
x10 retries = 0
# the x10 house + unit code for the lights (e.g. "i8")
x10 light code = 
# comma-separated list of times in 24 hour format (e.g. "17:30")
# leave unset to disable
lights on times = 
lights off times = 
