[SMTP]
host = smtphost
port = 0
user = username
password = password
use ttls = true

[email]
# zero to disable
send reports interval = 86400
# zero to disable
send warnings interval = 14400
email to address = you@domain.com
email from address = pi@domain.com

